header {
  display: flex;
  flex-direction: row;
  height: 130px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  align-items: center;

  img {
    width: 30%;
    height: fit-content;
    &.centered-logo {
      margin: 0 auto;
    }
  }
  .separator{
    display: flex;
    align-items: center;
    &::before {
      content: ' ';
      background-color: #412429;
      height: 105px;
      position: relative;
      width: 1px;
      display: inline-block;
      margin: auto 30px;
    }
  }
  .separator + * {
    margin: auto;
  }
  & + * {
    margin-top: 130px;
  }
}

h1 {
  font-size: 2.5rem;
  margin-left: 0 !important;
}

li {
  list-style: none;
  a {
    text-decoration: none;
    color: #000;
  }
}

.container-centered {
  width: 100%;
  min-height: 500px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.actions {
  &-container {
    margin-block: 0;
    padding-inline: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    flex-wrap: wrap;
    li {
      flex: 1 0 40%;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  width: 14rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  align-content: center;
  &.new-sale {
    background-image: url('../../assets/icons/shopping-cart.png');
  }
  &.add-product {
    background-image: url('../../assets/icons/plus.png');
    background-size: 7.5rem;
  }
  &.list-products {
    background-image: url('../../assets/icons/costume-clothes.png');
  }
  &.sales {
    background-image: url('../../assets/icons/coins.png');
  }
  &.promos {
    background-image: url('../../assets/icons/coupon.png');
  }

  span {
    position: relative;
    top: 30px;
    font-size: 1.5rem;
  }
}
